<!DOCTYPE html>
<html>
  <head>
    <title>SlackChat</title>
     <link rel="icon" type="image/x-icon" href="https://cdn.bfldr.com/5H442O3W/at/pl546j-7le8zk-6gwiyo/Slack_Mark.svg?auto=webp&format=png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <script type="text/javascript">
       window.splashPageDetails1 = "<%= image_url('splash-page-details/splash-page-details1.jpg') %>";
       window.splashPageDetails2 = "<%= image_url('splash-page-details/splash-page-details2.gif') %>";
       window.splashPageDetails3 = "<%= image_url('splash-page-details/splash-page-details3.gif') %>";
       window.splashPageDetails4 = "<%= image_url('splash-page-details/splash-page-details4.gif') %>";
       window.mainSectionImage = "<%= image_url('img-campaign-hero.png') %>";
       window.welcomeWaving = "<%= image_url('welcome-waving.gif') %>";
       window.composeIcon = "<%= image_url('compose-icon.png') %>";
       window.pencilIcon = "<%= image_url('pencil-icon.png') %>";
       window.messageIcon = "<%= image_url('message-icon.png') %>";
       window.downArrow = "<%= image_url('down-arrow.png') %>";
       window.rightArrow = "<%= image_url('right-arrow.png') %>";
       window.plus = "<%= image_url('plus.png') %>";
       window.plusThick = "<%= image_url('plus-thick.png') %>";
       window.hashtag = "<%= image_url('hashtag.png') %>";
       window.checkMark = "<%= image_url('check-mark.png') %>";
       window.linkedinLogo = "<%= image_url('linkedin-logo.png') %>";
       window.githubLogo = "<%= image_url('github-logo.png') %>";
       window.portfolioLogo = "<%= image_url('portfolio-logo.png') %>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
